*{
  box-sizing: border-box;
}

html, body{
  margin: 0;
  padding: 0;
}

body{
  background-color: black;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

#frameCounter{
  color: aliceblue;
  position: absolute;
}

#glCanvas{
  z-index: 0;
  position: absolute;
  height: 100vh;
  left: 50%;
  transform: translate(-50%, 0);
}

#graph{
  z-index: 1;
  pointer-events: none;
  left: 0;
  right: 0;
  bottom: 40px;
  position: absolute;
  width: 100%;
}
#pianoloop{
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    width: 100vw;
    display: none;
}

#toolbox{
  z-index: 10;
  position: absolute;
  width: 15em;
  right: 0;
  top: 0;
  min-height: 1em;
  background-color: #f5d8b385;
  transition: right 1s ease;
  padding-left: 1em;
  overflow-y: scroll;
}
#toolbox #toolbox-button{
  z-index: 10;
  position: absolute;
  right: 100%;
  top: 0;
  /* background-color: aliceblue; */
  margin: 5px;
  background: #AA7839;
  text-align: center;
  vertical-align: middle;
  line-height: 20px;
  font-size: 12px;
  color: whitesmoke;
  width: 20px; height: 20px;
  border-radius: 10px;
  transition: transform 1s ease;
}

#toolbox-button-check{
  visibility:hidden;
}

#toolbox-button-check:checked ~ #toolbox{
  right: -15em;
}
#toolbox-button-check:checked ~ #toolbox #toolbox-button{
  transform: rotate(180deg);
}

#toolbox input:not([type="checkbox"]),select{
  width: 5em;
  right: 0;
}
#toolbox label{
  width: 8em;
  display: inline-block;
}
#toolbox label.forcheck{
  width: 12em;
}